/*                   Colours
====================         ====================*/
:root {
    --c1: #0D1117;
    --c2: #262e3a;
    --c3: #24262c;
    --c4: #ffffff;
}

/*                   Default
====================         ====================*/
html {
    max-width: 900px;
    margin: 0 auto;
}

body {
    background-color: var(--c1);
    font-family: 'SF Pixelate', sans-serif; 
    margin: 0;
}

::-webkit-scrollbar {
    background: var(--c1);
}

::-webkit-scrollbar-thumb {
    background: var(--c2); 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

button {
    border: none;
}

svg {
    fill: var(--c3);
    width: 40px;
    height: 40px;
}

h1 {
    color: var(--c4);
    font-size: 4rem;
    margin: 0;
}

p {
    color: var(--c4);
    font-size: 1.5rem;
    margin: 0;
}

hr {
    height: 10px;
    background-color: var(--c3);
    border-width:0;
}

input {
    background-color: var(--c1);
    border: 3px solid var(--c3);
    color: var(--c4);
    font-weight: 900;
    font-size: 1.8rem;
}

#player {
    background-color: var(--c4);
}